{% extends 'layouts/layout.twig' %}

{% block content %}
    <div class="container" id="hello">
        <div class="row">
            <h1>${msg}</h1>
            <input class="form-control" type="text" v-model="msg">
        </div>
        <div class="row">
            <h1>List Peoples</h1>
            <ul>
                <li v-for="people in peoples">
                    ${people.name}
                </li>
            </ul>
        </div>
        <div class="row">
            <h1>My List Elements</h1>
            <input class="form-control" type="text" v-model="newElement" v-on:keyup.enter="addElement"/>
            <ul>
                <li v-for="element in elements" v-on:="">
                    ${ element.title }
                    <a href="#" v-on:click="removeElement($event)">X</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <h1>v-on</h1>
            <button @click="myClick">
                Click
            </button>
            <input type="text" @keyup="myKeyUp" placeholder="myKeyUp" />
            <input type="text" @keyup.enter="myKeyUp" placeholder="myKeyUp.enter" />
        </div>
    </div>
{% endblock %}